td,
tr,
table {
  /* border: 1px solid rgb(255, 255, 255); */
  border-collapse: collapse;
}

td {
  --table-height: 1px;
  text-align: center;
  width: var(--table-height) !important;
  height: var(--table-height) !important;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.PATH {
  background: #28cbd1;
}

.BLOCKED {
  background-color: #383232 !important;
  color: white;
}

.END {
  background-color: #dd4949 !important;
  color: white;
}
.START {
  background-color: #7bc50d !important;
  color: white;
}

.OPEN {
  background-color: #377c7c;
}

.CLOSED {
  background-color: #434a61;
  color: white;
}

.NONE {
  background-color: #434a61;
  color: white;
}
ul {
  list-style-type: none;
}
table {
  margin: auto;
}
